<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="parallelTest Suite" thread-count="3" parallel="classes" >

<test name="parallelTest chrome" >
<classes>
<class name="parallelTest.chromeTest"/>
</classes>
</test>  
<!--
<test name="parallelTest Firefox" >
<classes>
<class name="parallelTest.FirefoxTest"/>
</classes>
</test>  -->

<test name="parallelTest Edge" >
<classes>
<class name="parallelTest.EdgeTest"/>
</classes> 
</test>  
</suite> <!-- Suite -->
